/* CSS - Cascating Stylesheet
ordem de aparição dos elementos
ou ainda, folha de estilos em cascata
*/
* {
  /*seletor universal*/
  margin: 0;
}

html,
body {
  /*variavel*/
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  /*Maneira de visualização dos elementos, e o segundo está centralizando os elementos*/
  display: grid;
  place-items: center;

  /*background: rgb(248, 241, 196);*/
  /*background: rgb(30, 61, 61);*/
}

/*
img {
  border: 2px solid goldenrod;
  border-radius: 50%;
}
*/
main {
  /*background-image: url(imagens/background.png);*/
  /*background: url(imagens/backgroung.svg);*/
  /*background: url(imagens/background.png);*/
  background: url(imagens/backgroung.svg);
  width: 375px;
  height: 700px
}

.container {
  max-width: 250px;
  margin-top: -50px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  /*aqui determina o limite para o outro avatar*/
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  /*procura a primeira imagem */
  width: 10rem;
  height: 11.5rem;
  /*faz com que a imagem se adapte, cobrindo todo o espaço que está lá*/
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  /*color: goldenrod;*/
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  /*color: goldenrod;*/
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  /*deixando as listas lado a lado*/
  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
